@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


:root{
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --background-blue: #3ebfff;
    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-fraunces);
}

.navbar-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-main{
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--background-blue);
}

.navbar-content{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 106px;
    justify-content: space-between;
}

#hamburger-icon{
    display: none;
}

.navbar-list{
    list-style: none;
    display: flex;
}


.navbar-anchor{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-barlow);
    font-size: 1rem;
}

.navbar-link{
    padding: 0 1rem;
}

.welcome-container{
    margin-top: 106px;
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.main-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main-page-header{
    font-size: 3rem;
    color: var(--white);
    letter-spacing: 5px;
    text-align: center;
}

#contact-link{
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}

#contact-link:hover{
    background-color: #97dcff;
    color: var(--white);
}

.arrow-down-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.arrow-down-container{
    max-width: 2rem;
    height: 100%;
}

.services-section{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.service-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 30rem;
}



.services-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 6rem;
}

.service-header{
    font-size: 2rem;
    font-weight: 800;
}

.service-description{
    font-size: .8rem;
    line-height: 1.25rem;
    color: var(--very-dark-grayish-blue);
    padding: 2rem 0;
    font-family: var(--font-barlow);
}

.learn-more-btn{
    align-self: flex-start;
    cursor: pointer;
}

.bottom-container-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
}

.bottom-header{
    margin-bottom: 1rem;
}

.bottom-container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}

.bottom-description{
    font-family: var(--font-barlow);
}

.bottom-items-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 3rem;
}

#bottom-left-container{
    color: var(--dark-desaturated-cyan);
}

#bottom-right-container{
    color: var(--dark-blue);
}

.testimonials-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.testimonials-header{
    margin-top: 4rem;
    color: var(--grayish-blue);
    letter-spacing: 4px;
    margin-bottom: 2rem;
    text-align: center;
}

.testimonials-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.testimonial-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-img-container{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
}

.testimonial-content{
    text-align: center;
    font-family: var(--font-barlow);
    color: var(--very-dark-grayish-blue);
    margin-bottom: 3rem;
    padding: 0 1rem;
}

.testimonial-author{
    font-weight: 800;
    margin-bottom: .5rem;
}

.testimonial-author-job{
    font-family: var(--font-barlow);
    font-size: .75rem;
    color: var(--dark-grayish-blue);
}

.gallery-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page-footer{
    background-color: var(--dark-moderate-cyan);
    color: var(--dark-desaturated-cyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.footer-logo path{
    fill: var(--dark-desaturated-cyan);
}

.footer-list{
    list-style: none;
    display: flex;
    text-align: center;
    margin-bottom: 2rem;
}

.footer-link{
    padding: 2rem 1rem;
    font-family: var(--font-barlow);   
}

.footer-link a:hover{
    cursor: pointer;
    color: var(--white);
}

.social-icons{
    display: flex;
    gap: 1rem;
}


.icon-wrapper svg path:hover{
    fill: white;
    cursor: pointer;
}

.footer-link a {
    text-decoration: none;
    color: var(--dark-desaturated-cyan);
    transition: all .2s ease-in-out;
}

@media only screen and (max-width: 570px) {

    .welcome-container{
        margin-top: 56px;
    }
    
    #hamburger-icon{
        display: inline-block;
        position: absolute;
        top: 0;
        right: .5rem;
        padding: 1rem;
    }

    .navbar-content{
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .navbar-list{
        flex-direction: column;
        padding: 1rem;
        background-color: var(--white);
        
    }

    .hidden{
        display: none;
    }

    .navbar-link{
        text-align: center;
        padding: 1.5rem;
    }

    .navbar-anchor{
        color: var(--dark-grayish-blue);
        font-size: 1.25rem;
    }

    #contact-link{
        font-family: var(--font-fraunces);
        background-color: var(--yellow);
        color: var(--very-dark-desaturated-blue);
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .navbar-links-container{
        align-self: center;
        width: 100%;
        margin-top: 2rem;
        position: relative;
    }

    .navbar-links-container::after{
        display: block;
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: -1rem;
        right: .5rem;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: var(--white);
    }
    
    .services-section{
        grid-template-rows: 1fr 1fr 1fr;
    }

    .services-row{
        grid-template-columns: 1fr;
    }

    .service-container{
        text-align: center;
        padding: 3rem 1.5rem;
    }
    .learn-more-btn{
        align-self: center;
    }

    #first-row-image{
        order: 1;
    }
    #first-row-article{
        order: 2;
    }


    .testimonials-container{
        grid-template-columns: 1fr;
    }

    .gallery-section{
        grid-template-columns: 1fr;
    }
  }


@media only screen and (max-width: 685px) and (min-width: 570px){
    .service-container{
        padding: 3rem;
    }

    .testimonial{
        padding: 3rem 1rem;
    }
}