@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


:root{
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    --font-barlow: 'Barlow', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-fraunces);
}

.navbar-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-main{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-content{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 106px;
    justify-content: space-between;
}

#hamburger-icon{
    display: none;
}

.navbar-list{
    list-style: none;
    display: flex;
}

.header-image{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.welcome-container{
    width: 100%;
}

.navbar-anchor{
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-barlow);
    font-size: 1rem;
}

.navbar-link{
    padding: 0 1.5rem;
}

@media only screen and (max-width: 570px) {

    
    #hamburger-icon{
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
    }

    .navbar-content{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-list{
        flex-direction: column;
        padding: 1rem;
        background-color: var(--white);
    }

    .navbar-link{
        text-align: center;
        padding: 1.5rem;
        
    }

    .navbar-anchor{
        color: var(--dark-grayish-blue);
        font-size: 1.25rem;
    }

    .navbar-links-container{
        align-self: center;
        width: 100%;
        margin-top: 2rem;
        position: relative;
    }

    .navbar-links-container::after{
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 0;
        right: 0;

        transform: translateY(-90%);
        background-color: var(--white);
    }
    

  }